.schedule-call-container {
    padding: 50px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
  }
  
  .schedule-call-content {
    display: flex;
    max-width: 1200px;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
  }
  
  .schedule-call-left {
    width: 50%;
    padding: 40px;
  }
  
  .schedule-call-right {
    width: 50%;
    padding: 40px;
  }
  
  .contact-header {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: lighter;
  }
  
  .gradient-text {
    font-size: 2.5rem;
    background: linear-gradient(135deg, #58cf98 0%, #60d1af 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
  }
  
  .contact-info h4 {
    margin-top: 20px;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
  }
  
  .contact-info p {
    margin: 5px 0;
    font-size: 1.2rem;
  }
  
  .divider {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin: 20px 0;
  }
  
  .whatsapp-btn {
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background 0.3s ease, color 0.3s ease;
  }
  
  .whatsapp-btn:hover {
    background: #fff;
    color: #2b1055;
  }
  
  .schedule-call-right iframe {
    width: 100%;
    height: 600px;
    border: none;
    border-radius: 10px;
  }
  